body {
	background-color: lightgrey;
}

.footer {
	position : bottom;
	bottom : 0;
	width : 100%;
	height : 70px;
	background-color: rgb(128, 0, 0);	
	text-align : center;
	color : white;
	font-size: 16px;
	margin-top : 15px;
	padding-top: 15px;
	
}

.navbar {
	background-color : rgb(128, 0, 0);
	width: 100%;
}

.img_styles {
	padding-left: 90%;
	padding-top: 10px;	
	float: left;
}

